@import '@fontsource-variable/montserrat';

$white: #FFF;
$white-second: #F5F5F5;
$black: #000000;
$black-bg: #0C0C0C;
$black-second: #1A1A1A;
$blue-main: #194DD2;
$blue-second: #0A51CB;
$blue-title: #141B46;
$blue-text: #133F8D;

// $bg-gradient: rgb(26, 26, 26, 0.6);

$main-font: 'Montserrat Variable',
sans-serif;

$font-size: 18px;

$line-height: 150%;

$max-width: 1480;