@import '@fontsource-variable/montserrat';

$white: #FFF;
$black: #000000;
$blue-main: #194DD2;
$blue-second: #0A51CB;
$blue-title: #141B46;
$blue-text: #133F8D;

$main-font: 'Montserrat Variable',
sans-serif;

$font-size: 18px;

$line-height: 150%;

$max-width: 1480;