<section class="advantages">
  <div class="advantages__container _container">
    <div class="advantages__subtitle">Почему именно мы?</div>
    <h3 class="advantages__title title">Преимущества работы с нами</h3>
    <div class="advantages__cards">
      <div class="advantages__card">
        <div class="advantages__card-icon">
          <img src="./src/assets/img/icon-1.svg" alt="">
        </div>
        <div class="advantages__card-content">
          <div class="advantages__card-title">Стабильный доход – 1.2% в день
          </div>
          <div class="advantages__card-line">
            <span></span>
          </div>
          <p class="advantages__card-text">Возможность получения стабильной доходности, превышающей процентную ставку по
            банковским депозитам</p>
        </div>
      </div>
      <div class="advantages__card">
        <div class="advantages__card-icon">
          <img src="./src/assets/img/icon-2.svg" alt="">
        </div>
        <div class="advantages__card-content">
          <div class="advantages__card-title">Устойчивость «Open Invest System»
          </div>
          <div class="advantages__card-line">
            <span></span>
          </div>
          <p class="advantages__card-text">Эффективность инвестиционных стратегий и защита ваших денежных средств
            подтверждается многолетним опытом работы
            профессиональной команды инвесторов</p>
        </div>
      </div>
      <div class="advantages__card">
        <div class="advantages__card-icon">
          <img src="./src/assets/img/icon-3.svg" alt="">
        </div>
        <div class="advantages__card-content">
          <div class="advantages__card-title">Быстрый вывод средств
          </div>
          <div class="advantages__card-line">
            <span></span>
          </div>
          <p class="advantages__card-text">Мы знаем как важно иметь доступ к своим личным средствам, поэтому
            автоматизировали процесс вывода дивидендов до 24-х
            часов</p>
        </div>
      </div>
      <div class="advantages__card">
        <div class="advantages__card-icon">
          <img src="./src/assets/img/icon-4.svg" alt="">
        </div>
        <div class="advantages__card-content">
          <div class="advantages__card-title">Минимальная инвестиция - 100р.
          </div>
          <div class="advantages__card-line">
            <span></span>
          </div>
          <p class="advantages__card-text">Вы сами определяете свои инвестиционные цели. Начните с небольшой суммы,
            основные
            депозитные предложения доступны от 100
            руб.</p>
        </div>
      </div>
    </div>
    <div class="advantages__btns">
      <button class="advantages__button-reg button--reg">Регистрация</button>
      <button class="advantages__button-calc button--calc">Калькулятор прибыли</button>
    </div>
</section>