<footer class="footer">
  <div class="footer__container _container">
    <div class="footer__text">
      Команда, у которой за плечами
      не менее 12 лет работы
      на разных позициях в сегменте инвестиционного бизнеса –
      от аудитора и аналитика отдела рисков до финансового директора инвестиционного банка.
    </div>
    <div class="footer__wrapper">
      <nav class="footer__menu menu-footer">
        <div class="footer__label">Навигация</div>
        <div class="menu-footer__lists">
          <ul class="menu-footer__list">
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Главная</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">О Компании</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Отзывы о компании
              </a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Как мы зарабатываем?
              </a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Клиентское соглашение</a>
            </li>
          </ul>
          <ul class="menu-footer__list">

            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Документы компании</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Новости</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">F.A.Q.</a>
            </li>
            <li class="menu-footer__item">
              <a href="#" class="menu-footer__link">Контакты</a>
            </li>
          </ul>
        </div>

      </nav>
      <div class="footer__contacts contacts-footer">
        <div class="footer__label">Контакты</div>
        <div class="contacts-footer__items">
          <div class="contacts-footer__item contacts-footer__item-tel">
            <a href="tel:+7 (495) 123-45-67" class="contacts-footer__link">+7 (495) 123-45-67</a>
          </div>
          <div class="contacts-footer__item contacts-footer__item-email">
            <a href="info@ftc.vin" class="contacts-footer__link">info@ftc.vin</a>
          </div>
          <div class="contacts-footer__item contacts-footer__item-schedule">
            ПН - ПТ: 10:00 - 20:00 по МСК
          </div>
          <div class="contacts-footer__item contacts-footer__item-schedule">
            СБ - ВС: свободный график
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>