<header class="header">
  <div class="header__container _container-1920">
    <nav class="header__menu header-menu">
      <ul class="header-menu__list">
        <li class="header-menu__item">
          <a class="header-menu__link" href="#">
            О компании
          </a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="#">
            Инвестору
          </a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="#">
            Новости
          </a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="#">
            Отзывы
          </a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="#">
            F.A.Q
          </a>
        </li>
        <li class="header-menu__item">
          <a class="header-menu__link" href="#">
            Контакты
          </a>
        </li>
      </ul>
    </nav>
    <button class="header__burger" data-burger='' aria-label='Открыть меню' aria-expanded='false'>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <button class="header__button">
      Вход/Регистрация
    </button>

  </div>
  <div class="header__burger-menu burger-menu" data-menu=''>
    <nav class="burger-menu__menu">
      <ul class="burger-menu__list">
        <li class="burger-menu__item">
          <a class="burger-menu__link" href="#">
            О компании
          </a>
        </li>
        <li class="burger-menu__item">
          <a class="burger-menu__link" href="#">
            Инвестору
          </a>
        </li>
        <li class="burger-menu__item">
          <a class="burger-menu__link" href="#">
            Новости
          </a>
        </li>
        <li class="burger-menu__item">
          <a class="burger-menu__link" href="#">
            Отзывы
          </a>
        </li>
        <li class="burger-menu__item">
          <a class="burger-menu__link" href="#">
            F.A.Q
          </a>
        </li>
        <li class="burger-menu__item">
          <a class="burger-menu__link" href="#">
            Контакты
          </a>
        </li>
      </ul>
    </nav>
    <button class="burger-menu__button button">
      Вход/Регистрация
    </button>
  </div>
</header>