<section class="make-money">
  <div class="make-money__container _container">
    <div class="make-money__left">
      <h3 class="make-money__title title">Как мы зарабатываем?</h3>
      <p class="make-money__text">
        В основе нашей бизнес-модели лежит принцип 3-х уровневой диверсификации – ресурсов, инвестиций и рисков
      </p>
      <p class="make-money__text">
        Что это значит? Если мы инвестируем в один из нишевых проектов, то обязательно подбираем смежные проекты в этой
        же нише
        – менее рискованные и более короткие с точки зрения получения прибыли.

      </p>
      <p class="make-money__text">
        При таком подходе к инвестированию мы параллельно наращиваем прибыль и дивиденды с уже существующих вложений в
        другие
        проекты, чтобы иметь финансовый баланс и гарантировать выплаты дивидендов нашим инвесторам в сроки.
        <a class="make-money__link" href="#">Читать далее</a>
      </p>
      <button class="make-money__button button--reg">Регистрация</button>
    </div>

    <div class="make-money__right">
      <div class="make-money__img make-money__img-1">
        <img src="./src/assets/img/img5.jpg" alt="make-money">
      </div>
      <div class="make-money__img make-money__img-text">
        Как мы работаем
      </div>
      <div class="make-money__img make-money__img-2">
        <img src="./src/assets/img/img6.jpg" alt="make-money">
      </div>
    </div>
  </div>
</section>