<section class="sphere-technology">
  <div class="sphere-technology__container _container">
    <div class="sphere-technology__left img-gallery">
      <div class="sphere-technology__img sphere-technology__img-text img-gallery__item img-gallery__item-text">
        <span>Технология из сферы</span>
      </div>
      <div
        class="sphere-technology__img sphere-technology__img-1 img-gallery__item img-gallery__item-img img-gallery__item-img--top">
        <img src="./src/assets/img/img3.jpg" alt="sphere-technology">
      </div>
      <div
        class="sphere-technology__img sphere-technology__img-2 img-gallery__item img-gallery__item-img img-gallery__item-img--bottom">
        <img src="./src/assets/img/img4.jpg" alt="sphere-technology">
      </div>
    </div>

    <div class="sphere-technology__right">
      <div class="sphere-technology__subtitle">Технология из сферы:</div>
      <h3 class="sphere-technology__title title">Исскуственный инетелект в сфере беттинга</h3>
      <p class="sphere-technology__text">
        Запатентованный инфопродукт собственного производства на основе
        искусственного интеллекта служит нам подспорьем,
        гарантируя стабильный, практически пассивный доход в сфере беттинга.
      </p>
      <div class="sphere-technology__text sphere-technology__text--bold">
        Как это работает?
      </div>
      <p class="sphere-technology__text">
        Искусственный интеллект на основе нейросети, постоянно обучаясь, в реальном времени анализирует коэффициенты и
        иные
        переменные в зарубежных букмекерских конторах, дополняя анализ статистическими данными игры, и выносит прогноз,
        крайне
        редко ошибаясь.
        <a class="sphere-technology__link" href="#">Читать далее</a>
      </p>
      <button class="sphere-technology__button button">Начните зарабатывать прямо сейчас</button>
    </div>
  </div>
</section>