<section class="statistic">
  <div class="statistic__container _container">
    <h3 class="statistic__title title">
      Статистика компании
    </h3>
    <div class="statistic__cards">
      <div class="statistic__card">
        <div class="statistic__card-count">
          932
        </div>
        <div class="statistic__card-text">
          Работаем (дней)
        </div>
      </div>
      <div class="statistic__card">
        <div class="statistic__card-count">
          960696

        </div>
        <div class="statistic__card-text">
          Всего инвесторов
        </div>
      </div>
      <div class="statistic__card">
        <div class="statistic__card-count">
          67
        </div>
        <div class="statistic__card-text">
          Новых за 24 часа
        </div>
      </div>
      <div class="statistic__card">
        <div class="statistic__card-count">
          109500р.
        </div>
        <div class="statistic__card-text">
          Среднее пополнение
        </div>
      </div>
    </div>
    <div class="statistic__btns">
      <button class="statistic__btn-join button--reg">Присоедениться к нам</button>
      <button class="statistic__btn button--calc">Калькулятор прибыли</button>
    </div>
  </div>
</section>