<section class="steps-earning">
  <div class="steps-earning__bg"></div>
  <div class="steps-earning__container _container">
    <img class="steps-earning__img" src="./src/assets/img/img-bg.png" alt="">
    <div class="steps-earning__wrapper">

      <div class="steps-earning__left">
        <div class="steps-earning__title title">
          Инвестировать с нами надежно и выгодно
        </div>
        <button class="steps-earning__button button">Начать зарабатывать</button>
      </div>
      <div class="steps-earning__right">
        <div class="steps-earning__items">
          <div class="steps-earning__item">
            <div class="steps-earning__icon">
              1
            </div>
            <div class="steps-earning__content">
              <div class="steps-earning__label">
                Регистрация на сайте
              </div>
              <div class="steps-earning__text">
                Пройдите процедуру регистрации на сайте для открытия счета. Нажмите кнопку «Регистрация» и заполните все
                необходимые
                поля
              </div>
            </div>
          </div>
          <div class="steps-earning__item steps-earning__item_active">
            <div class="steps-earning__icon">
              2
            </div>
            <div class="steps-earning__content">
              <div class="steps-earning__label">
                Открывайте депозит
              </div>
              <div class="steps-earning__text">
                Сделайте инвестицию на удобный срок на сумму от 100 рублей и ваши деньги начнут работать на вас
              </div>
            </div>
          </div>
          <div class="steps-earning__item">
            <div class="steps-earning__icon">
              3
            </div>
            <div class="steps-earning__content">
              <div class="steps-earning__label">
                Распоряжайтесь прибылью
              </div>
              <div class="steps-earning__text">
                По факту окончания периода инвестиции вклад с прибылью будут доступы для вывода или создания нового
                депозита
              </div>
            </div>
          </div>
        </div>
        <div class="steps-earning__line">
          <img src="./src/assets/img/line.svg" alt="">
        </div>
      </div>
    </div>

  </div>
</section>