<section class="technology">
  <div class="technology__container _container">
    <div class="technology__subtitle subtitle">На чем мы больше всего зарабатываем</div>
    <h3 class="technology__title title">
      Стартапы и технологии</h3>
    <div class="technology__cards">
      <a href="#" class="technology__card">
        <div class="technology__card-img">
          <img src="./src/assets/img/tech-1.svg" alt="">
        </div>
        <div class="technology__card-title">
          Стартапы из сферы:
        </div>
        <div class="technology__card-text">
          Криптовалюты
        </div>
      </a>

      <a href="#" class="technology__card">
        <div class="technology__card-img">
          <img src="./src/assets/img/tech-1.svg" alt="">
        </div>
        <div class="technology__card-title">
          Технология из сферы:
        </div>
        <div class="technology__card-text">
          ИИ в сфере беттинга
        </div>
      </a>

      <a href="#" class="technology__card">
        <div class="technology__card-img">
          <img src="./src/assets/img/tech-1.svg" alt="">
        </div>
        <div class="technology__card-title">
          Стартапы из сферы
        </div>
        <div class="technology__card-text">
          Блокчейн и ICO
        </div>
      </a>

      <a href="#" class="technology__card">
        <div class="technology__card-img">
          <img src="./src/assets/img/tech-1.svg" alt="">
        </div>
        <div class="technology__card-title">
          Блокчейн и ICO
        </div>
        <div class="technology__card-text">
          VR- технологии
        </div>
      </a>

      <a href="#" class="technology__card">
        <div class="technology__card-img">
          <img src="./src/assets/img/tech-1.svg" alt="">
        </div>
        <div class="technology__card-title">
          Стартапы из сферы
        </div>
        <div class="technology__card-text">
          Внедрение сетей 5G
        </div>
      </a>
    </div>
  </div>
</section>